﻿.p20 {
    padding: 20px;
}

.plr12 {
    padding: 0px 12px;
}


.student-form-container {
    width: 700px;
    margin: 0px auto;
}


input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="select"] {
    max-width: 100%;
}

#MainContent_GridView1 {
    margin: 0px auto;
}

#MainContent_GridView1_wrapper {
    padding: 30px;
}

.Error {
    color: red;
    font-size: 30px;
}
