﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="StudentCRUDEntity._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

     <div class="p20 container">
        
        <div class="container">
                <div class="row">
                    <div class="student-form-container">
                                                
                                <div class="row">
                                    
                                    <asp:HiddenField ID="hiddenId" runat="server"/>

                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label>First Name</label>
                                            <input type="text" class="form-control" id="StuFname" runat="server" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label>Last Name</label>
                                            <input type="text" class="form-control" id="StuLname" runat="server" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label>Father Name</label>
                                            <input type="text" class="form-control" id="StuFatherName" runat="server" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label>Date of Birth</label>
                                            <input type="text" class="form-control" id="StuDob" runat="server" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label>Study Program</label>
                                            <select id="StuProgram" runat="server">
                                              <option value="" selected disabled hidden>Select</option>
                                              <option value="1" data-smsters="8">BS</option>
                                              <option value="2" data-smsters="4">MS</option>
                                              <option value="3" data-smsters="9">MBBS</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>CNIC</label>
                                            <input type="number" class="form-control" id="StuCNIC" runat="server" />
                                        </div>
                                    </div>
                                
                                </div>
                                <div class="row text-right plr12">
                              
                                    
                                        
                                    <asp:Button ID="UpdateStudent" CssClass="btn" runat="server" OnClick="UpdateStudent_OnClick" Text="Update Student" />
                                    <asp:Button ID="AddStudent" CssClass="btn" runat="server" OnClick="AddStudent_Click" Text="Add Student" />
                                    
                                    <br/>
                                    <asp:Label ID="ErrorMessage" CssClass="Error" runat="server"></asp:Label>
                              
                                    
                                        
                                    
                                </div>
                                
                                
                        </div>
                </div>
            
            
            

            </div>
    
     </div>
    <asp:GridView ID="GridView1" runat="server" AutoGenerateColumns="False" AutoGenerateDeleteButton="False" AutoGenerateEditButton="False" DataKeyNames="ID" DataSourceID="SqlDataSource1">
        
        <Columns>
            
            <asp:TemplateField>
                <ItemTemplate>
                    <asp:HiddenField Visible="False" ID="hiddenId" Value='<%# Eval("ID") %>' runat="server"></asp:HiddenField>
                </ItemTemplate>
            </asp:TemplateField>

            
            <asp:BoundField DataField="FirstName" HeaderText="FirstName" SortExpression="FirstName" />
            <asp:BoundField DataField="LastName" HeaderText="LastName" SortExpression="LastName" />
            <asp:BoundField DataField="FatherName" HeaderText="FatherName" SortExpression="FatherName" />
            <asp:BoundField DataField="DateOfBirth" HeaderText="DateOfBirth" SortExpression="DateOfBirth" />
            <asp:BoundField DataField="Program" HeaderText="Program" SortExpression="Program" />
            <asp:BoundField DataField="CNIC" HeaderText="CNIC" SortExpression="CNIC" />
            <asp:TemplateField>
                <ItemTemplate>
                    <asp:LinkButton ID="editBtn" CommandArgument='<%# Eval("ID") %>' Text="Edit" OnClick="editBtn_OnClick" runat="server"></asp:LinkButton>
                </ItemTemplate>
            </asp:TemplateField>
            <asp:TemplateField>
                <ItemTemplate>
                    <asp:LinkButton ID="deteleBtn" CommandArgument='<%# Eval("ID") %>' Text="Delete" OnClick="deteleBtn_OnClick" OnClientClick='return confirm("You really want to delete?")' runat="server"></asp:LinkButton>
                </ItemTemplate>
            </asp:TemplateField>
        </Columns>
    </asp:GridView>

    <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:DbStudentConnectionString %>" SelectCommand="SELECT * FROM [Students]" UpdateCommand="UPDATE [Students] Set [FirstName] = @FirstName, [LastName] = @LastName, [FatherName] = @FatherName, [DateOfBirth] = @DateOfBirth, [Program] = @Program, [CNIC] = @CNIC " DeleteCommand="DELETE FROM STUDENTS WHERE [ID] = @ID"></asp:SqlDataSource>
    <asp:EntityDataSource ID="EntityDataSource1" runat="server">
    </asp:EntityDataSource>

</asp:Content>
